*{
    list-style: none;
    text-decoration: none;
    border-color: transparent;
}

@font-face {
    font-family: 'Cera Pro Light';
    src: url('../fonts/CeraPro-Light.eot');
    src: local('../fonts/Cera Pro Light'), local('../fonts/CeraPro-Light'),
        url('../fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Light.woff2') format('woff2'),
        url('../fonts/CeraPro-Light.woff') format('woff'),
        url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('../fonts/Cera Pro Regular'), local('../fonts/CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('../fonts/Cera Pro Medium'), local('../fonts/CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('../fonts/Cera Pro Bold'), local('../fonts/CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url('../fonts/CeraPro-Black.eot');
    src: local('../fonts/Cera Pro Black'), local('../fonts/CeraPro-Black'),
        url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

div.container{
    padding: 30px 120px 13px;
    display: flex;
    flex-direction: column;
}

header.header{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 0.3px solid #46A35880;
}

menu.menu{
    display: flex;
    gap: 50px;
}

li.menu-item{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

li.menu-item.active{
    border-color: #46A358;
    font-family: "Cera Pro Bold";
}

.header-btn{
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFF;
    cursor: pointer;
}

.uppercase{
    text-transform: uppercase;
}

p.uppercase{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-bottom: 7px;
}

h1.uppercase{
    color: #3D3D3D;
    font-family: "Cera Pro Black";
    font-size: 70px;
    margin-bottom: 5px;
}

.h1-highlight{
    color: #46A358;
}

.main-text{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    margin-bottom: 44px;
    width: 78%;
}

main.main{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.button{
    color: #FFF;
    background-color: #46A358;
    border-radius: 6px;
    padding: 11px 27px;
    cursor: pointer;
}

.main-right {
    display: flex;
    justify-content: flex-end;
}

.main-left{
    padding: 68px 40px 85px;
}

.menu-categories{
    padding: 0 12px;
}

.menu-categories-item.active{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
}

.menu-categories-item{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    line-height: 40px;
    margin-top: 7px;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: "Cera Pro Regular";
    margin: 0;
    margin-bottom: 30px;
}

.menu-plants{
    display: flex;
    flex-direction: row;
    gap: 37px;
}

.nav-menu-sort{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-plants-item.active{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    border-color: #46A358;
}

li.menu-plants-item{
    border-bottom: 3px solid transparent;
    color: #3D3D3D;
    padding-bottom: 7px;
    cursor: pointer;
}

.nav-menu-sort select,
.nav-menu-sort option {
    font-family: "Cera Pro Regular";
    color: #3D3D3D;
    font-size: 15px;
    cursor: pointer;
}

.nav-menu-sort p{
    color: #3D3D3D;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 90px;
}

.catalog-img{
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    height: 300px;
    position: relative;
}

.catalog-sale{
    position: absolute;
    top: 14px;
    left: 0px;
    background-color: #46A358;
    padding: 7px 8px;
}

.catalog-sale span{
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
}

.catalog-active{
    position: absolute;
    bottom: 7px;
    visibility: hidden;
    display: flex;
    gap: 10px;
}

.catalog-active button{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 8px;
}

.catalog-active button svg path {
    fill: #3D3D3D;
}

.catalog-active button:hover svg path {
    fill: #46A358;
}

.catalog-item:hover .catalog-active {
    opacity: 1;
    visibility: visible;
}

.catalog-img img{
    width: 250px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
}

.catalog-item{
    border-top: 1px solid;
    color: transparent;
    position: relative;
}

.catalog-item:hover{
    border-top: 1px solid #46A358;
}

.catalog-item a{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
}

.catalog-item .sale{
    color: #A5A5A5;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    text-decoration: line-through;
    position: absolute;
    left: 80px;
    bottom: 0px;
}

.catalog-item p.price{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    margin-top: 6px;
}

.nav-ul{
    gap: 10px;
    display: flex;
    align-items: flex-end;
}

.nav-ul li button{
    cursor: pointer;
}

.nav-item{
    border-radius: 4px;
    color: #3D3D3D;
    font-family: "Cera Pro Light";
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E5E5E5;
    width: 35px;
    height: 35px;
    background: #FFF;
}

.nav-item.active{
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    border-color: transparent;
}

.sidebar nav{
    margin-bottom: 366px;
    padding: 14px 18px;
}

nav h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    margin-bottom: 7px;
}

.plants{
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}

.sidebar{
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
}

.plants-main {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.no-blend img {
    background: none;
}

.blog{
    margin-top: 145px;
}

.blog-card{
    display: flex;
    gap: 28px;
    margin-bottom: 138px;
}

.blog-card-item{
    display: flex;
    background: #FBFBFB;
    align-items: center;;
    height: 250px;
}

.blog-card-item div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 30px;    
}

.blog-card-item img{
    background: url(<path-to-image>) lightgray -5px 0px / 101.742% 100% no-repeat;
    mix-blend-mode: multiply;
    position: relative;
    height: 292px;
    bottom: 24px;
}

.blog-card-item div h1{
    color: #3D3D3D;
    text-align: right;
    font-family: "Cera Pro Black";
    font-size: 18px;
    margin: 0 0 9px 145px;
}

.blog-card-item div p{
    color: #727272;
    text-align: right;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}

.blog-card-item div button{
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    margin-left: 170px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.blog-card-item div button svg{
    margin-top: 2px;
}

.our-blog-header{
    text-align: center;
    margin-bottom: 35px;
}

.our-blog-header h1{
    margin-bottom: 15px;
}

.our-blog h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 30px;
}

.our-blog p{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

.our-blog-item{
    display: flex;
    justify-content: space-between;
}

.our-blog-item div{
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
    width: 270px;
    align-items: flex-start;
}

.our-blog-item p{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px; 
}

.our-blog .our-blog-item div h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 26px;
}

.our-blog-item div a{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    margin-top: 9px;
    display: flex;
}

.our-blog-item div img{
    height: 195px;
    width: 268px;
}

.our-blog-item div a svg{
    fill: #3D3D3D;
    margin-left: 3px;
}

.our-blog-item div a.active{
    color: #46A358;
}

.our-blog-item div a.active svg{
    fill: #46A358;
}

.our-blog .our-blog-item div div{
    display: flex;
    flex-direction: column;
    padding: 9px 14px;
    width: 240px;
}

p.data{
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    margin-bottom: 4px;
}
 
/* registration */

.header-reg{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.header-reg a{
    text-decoration: none;
    color: #3D3D3D;
    font-size: 20px;
    font-family: "Cera Pro Medium";
}

.header-reg .active{
    color: #46A358;
}

.section-reg p{
    color: #3D3D3D;
    font-size: 13px;
    font-family: "Cera Pro Regular";
    padding-bottom: 14px;
    
}

.form-reg{
    display: flex;
    gap: 16px;
}

.form-reg input::placeholder {
    color: #A5A5A5;
    font-size: 14px;
    font-family: "Cera Pro Regular";
}

.form-reg input{
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding: 12px 0 12px 14px;
}

.form-reg button{
    border-radius: 5px;
    background: #46A358;
    color: #FFF;
    font-size: 16px;
    font-family: "Cera Pro Bold";
    border-style: none;
    margin: 25px 0 36px 0;
    padding: 15px 119px;
}

.button-reg button{
    color: #727272;
    font-family: "Cera Pro Medium";
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.registration{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.reg{
    margin: 50px 100px;
}

.section-reg .form{
    display: flex;
    flex-direction: column;
}

.line-reg {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 27px;
}

.line-reg .line {
    flex: 1;
    border-top: 1px solid #EAEAEA;
    margin: 0 auto 12px;
}

.button-reg{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reg-X{
    position: absolute;
    top: 13px;
    right: 13px;
}

.password{
    position: relative;
}

.password input {
    width: 245px;
    padding-right: 40px;
}

.password img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.footer-reg{
    background-color: #46A358;
    height: 10px;
}

/* menu */

.menu-item{
    position: relative;
}

.menu-item > .menu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: -55px;
}

.menu-list a{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
}

.menu-list > li{
    position: relative;
    background-color: #EDF6EE;
    padding: 8px 14px;
}

.menu-list > li > ul{
    position: absolute;
    top: -95px;
    left: 187px;
    display: none;
    padding-left: 4px;
}

.menu-list > li:hover > ul{
    display: block;
}

.menu-item:hover > .menu-list {
    display: block;
}

.first-menu{
    padding: 15px 0;
    width: 188px;
}

.menu-list-active{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.second-menu{
    width: 178px;
}

.menu-list-active:hover{
    background-color: #1A712A;
}

.menu-list-active:hover > a{
    color: #FFF;
    font-family: "Cera Pro Bold";
}

.menu-list-active:hover svg path{
    fill: #fff;
}

.menu-active li:hover{
    border-color: #46A358;
    font-family: "Cera Pro Bold";
    cursor: pointer;
}

/* Footer */

footer{
    margin-top: 100px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    background: #FBFBFB;
    padding: 25px 23px;
    gap: 83px;
}

.footer-top-border{
    border-right: 1px solid #46A3581A;
    border-left: 1px solid #46A3581A;
}

.footer-top-promo{
    display: flex;
    gap: 10px;
}

.footer-top-promo-item{
    display: flex;
    flex-direction: column;
    padding: 0px 26px;
}

.footer-top-promo-item h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 17px;
    padding-bottom: 9px;
}

.footer-top-promo-item p{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    width: 204px;
}

.footer-top-promo-item img{
    height: 93px;
    width: 83px;
    padding-bottom: 15px;
}

.footer-top-join h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    padding-top: 12px;
}

.footer-top-join p{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 13px;
}

.footer-top-join form{
    display: flex;
    padding: 18px 0 18px 0;
}

.footer-top-join form input{
    padding: 12px 86px 12px 12px;
}

.footer-top-join form input::placeholder{
    color: #ACACAC;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

.footer-top-join form button{
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    background-color: #46A358;
    padding: 12px 25px;
    border-radius: 0 6px 6px 0;
}

.footer-contact{
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    padding: 27px 23px;
}

.footer-contact-item span{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 22px;
}

.footer-contact-content{
    display: flex;
    align-items: center;
    gap: 85px;
}

.footer-contact-content svg{
    padding-right: 27px;
    flex-shrink: 0;
}

.footer-contact-item{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 205px;
}

.footer-contact-content .footer-contact-item svg{
    padding-right: 0;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    background: #FBFBFB;
    border-bottom: 1px solid #46A35833;
    padding: 33px 155px 30px 23px;
}

.footer-links h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
}

.nav-links{
    display: flex;
    gap: 163px;
}

.nav-links-item-account{
    padding-right: 30px;
}

.nav-links-item{
    display: flex;
    flex-direction: column;
}

.nav-links-item h1{
    padding-bottom: 8px;
}

.nav-links-item li{
    padding: 8px 0;
}

.nav-links-item a{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

.footer-links-container{
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.footer-links-social h1{
    padding-bottom: 20px;
}

.footer-links-social-btn{
    display: flex;
    gap: 10px;
}

.footer-links-social-btn button{
    padding: 8px 8px;
    background-color: #FBFBFB;
    border: 1px solid #46A35833;
    border-radius: 6px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-links-pay h1{
    padding-bottom: 13px;
}

.footer-links-pay img{
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
}

.footer-copyright{
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

.footer-copyright span{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}