*{
    list-style: none;
    text-decoration: none;
    border-color: transparent;
}

@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('../fonts/Cera Pro Regular'), local('../fonts/CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('../fonts/Cera Pro Medium'), local('../fonts/CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('../fonts/Cera Pro Bold'), local('../fonts/CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url('../fonts/CeraPro-Black.eot');
    src: local('../fonts/Cera Pro Black'), local('../fonts/CeraPro-Black'),
        url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


div.container{
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}

header.header{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

menu.menu{
    display: flex;
    gap: 50px;
}

li.menu-item{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

li.menu-item.active{
    border-color: #46A358;
    font-family: "Cera Pro Bold";
}

.header-btn{
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFF;
}

.uppercase{
    text-transform: uppercase;
}

p.uppercase{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    letter-spacing: 1.4px;
    padding-bottom: 7px;
}

h1.uppercase{
    color: #3D3D3D;
    font-family: "Cera Pro Black";
    font-size: 70px;
    padding-bottom: 5px;
}

.h1-highlight{
    color: #46A358;
}

.main-text{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    padding-bottom: 44px;
}

main.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 7px 43px;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.button{
    color: #FFF;
    background-color: #46A358;
    border-radius: 6px;
    padding: 11px 27px 9px;
}

.main-right {
    display: flex;
    justify-content: flex-end;
}