*{
    list-style: none;
    text-decoration: none;
    border-color: transparent;
}

@font-face {
    font-family: 'Cera Pro Light';
    src: url('../fonts/CeraPro-Light.eot');
    src: local('../fonts/Cera Pro Light'), local('../fonts/CeraPro-Light'),
        url('../fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Light.woff2') format('woff2'),
        url('../fonts/CeraPro-Light.woff') format('woff'),
        url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('../fonts/Cera Pro Regular'), local('../fonts/CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('../fonts/Cera Pro Medium'), local('../fonts/CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('../fonts/Cera Pro Bold'), local('../fonts/CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url('../fonts/CeraPro-Black.eot');
    src: local('../fonts/Cera Pro Black'), local('../fonts/CeraPro-Black'),
        url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


div.container{
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}

header.header{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 0.3px solid #46A35880;
}

menu.menu{
    display: flex;
    gap: 50px;
}

li.menu-item{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

li.menu-item.active{
    border-color: #46A358;
    font-family: "Cera Pro Bold";
}

.header-btn{
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFF;
}

.uppercase{
    text-transform: uppercase;
}

p.uppercase{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-bottom: 7px;
}

h1.uppercase{
    color: #3D3D3D;
    font-family: "Cera Pro Black";
    font-size: 70px;
    margin-bottom: 5px;
}

.h1-highlight{
    color: #46A358;
}

.main-text{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    margin-bottom: 44px;
    width: 78%;
}

main.main{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.button{
    color: #FFF;
    background-color: #46A358;
    border-radius: 6px;
    padding: 11px 27px;
}

.main-right {
    display: flex;
    justify-content: flex-end;
}

.main-left{
    padding: 68px 40px 85px;
}


.menu-categories-item.active{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
}

.menu-categories-item{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    padding-left: 12px;
    line-height: 40px;
    padding-top: 7px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: "Cera Pro Regular";
    margin-bottom: 30px;
}

.menu-plants{
    display: flex;
    flex-direction: row;
    gap: 37px;
}

.nav-menu-sort{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-plants-item.active{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
    border-color: #46A358;
}

li.menu-plants-item{
    border-bottom: 3px solid transparent;
    color: #3D3D3D;
    padding-bottom: 7px;
}

.nav-menu-sort select,
.nav-menu-sort option {
    font-family: "Cera Pro Regular";
    color: #3D3D3D;
    font-size: 15px;
}

.nav-menu-sort p{
    color: #3D3D3D;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
}

.catalog-item{
    width: 258px;
    height: 350px;
}

.catalog-img{
    width: 258px;
    height: 300px;
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.catalog-img img{
    width: 250px;
    height: 250px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
}

.catalog-item a{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
}

.catalog-item p.price{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    margin-top: 6px;
}

.nav-ul{
    gap: 10px;
    display: flex;
    align-items: flex-end;
}

.nav-item{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: #3D3D3D;
    font-family: "Cera Pro Light";
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.nav-item.active{
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    border-color: transparent;
}

nav{
    margin: 14px 0 0 18px;
}

nav h1{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    padding-bottom: 7px;
}

.plants{
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}

.sidebar{
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    width: 310px;
}

.plants-main {
    display: flex;
    margin-bottom: 90px;
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.sidebar img {
    width: 370px;
    margin-left: -29px;
}

.no-blend img {
    background: none;
}
